<%= tag.tr do %>
  <%= tag.td image_tag product.image.tiny.url, title: product.name, alt: product.name, loading:"lazy", class:" img-fluid rounded border" %>
  
  <%= tag.td do %>
    <h4><%= product.name %></h4>
    <p><%= product.description %></p>
  <% end %>
  
  <%= tag.td humanized_money_with_symbol product.price %>
  <%= tag.td quantity %>
  <%= tag.td humanized_money_with_symbol product.price * quantity %>
<% end %>
